PORT=5000

# Dán URI kết nối MongoDB của bạn vào đây (hỗ trợ cả MongoDB Atlas và MongoDB Local)
# Ví dụ MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/myDatabase?retryWrites=true&w=majority
# Ví dụ MongoDB Local: mongodb://127.0.0.1:27017/myDatabase
MONGODB_URI=
